<table id="<%= medium.title %>_type">
 <tr> 
  <td id="<%= medium.title %>_type_thumb" class="thumb" rowspan="3"><%= link_to "Editor", mediatype %></td>
  <td id="<%= medium.title %>_type_title" class="data">
   <%= link_to medium.title, mediatype %>
   <%= link_to medium.author, "userpage.html" %>
   <span><%= medium.instances %> instances</span>
  </td>
 </tr>
 <tr>
  <td id="<%= medium.title %>_type_desc" colspan="2">
   <span><%= medium.info %></span>
<%- if ["talk","show"].include? params[:action] -%>
   <span>(<%= link_to medium.title.capitalize, medium_path %>)</span>
<%- end -%>
  </td>
 </tr>
 <tr>
  <td class="actions" colspan="2">
<%- if ["index"].include? params[:action] -%>
   <%= link_to "Discussion", talk_medium_path(medium) %>
<%- end -%>
   <span class="view">
    <%= link_to "View in mediatype editor", edit_medium_path(medium) %>
   </span>
  </td>
 </tr>
</table>
