<%- @title = "Edit mediatype 'Editor' | kotoda.ma" -%>
<% content_for :head do -%>
  <script type="text/javascript">
var eddisp={
 frames:["editor_result_frame","editor_forms_frame","editor_code_frame"],
 menu:["Render","Forms","Convert"],
 display:["block","block","block"],
 finalfunc:function(a){
  $("forms_menu").style.display=(a==="Forms"?"block":"none");
  if (a==="Render") $("editor_result").src = window.location.href.replace(/^.*\//, '/')
 }
},
subframes=(function(a){
 var i=[],j=[];
 for (b=1;b<=a;b++) {
  i.push("form_"+b);
  j.push(["form_result_"+b,"form_code_"+b]);
 }
 return {ids:i, panels:j}
})(<%= @editor.data.forms.length %>),
lists={
 forms_list: {
  insfunc: function() {
   var d,i,n=0,r;
   for (i=0;i<this.actions.length;i++) {
    d=this.actions[i].firstChild.id;
    n=Math.max(n,parseFloat(d.slice(5))) //avoid collisions
   }
   n++;
   this.target.appendChild($("form_stamp").cloneNode(true)).setAttribute("id",r="form_"+n);
   $(r).childNodes[1].childNodes[1].innerHTML=this.insname;
   $(r).childNodes[3].name="editor[forms][][" + this.insname + "]";
   $(r).style.display="table";
   subframes.ids.push(r);
   subframes.panels.push([$(r).childNodes[5].id="form_result_"+n,$(r).childNodes[3].id="form_code_"+n]);
  }
 },
 menu_items_1: {
  insfunc: function() {
   var a=this.target.appendChild(document.createElement("a"));
   a.href="#";
   a.innerHTML=this.insname;
   a.onclick=ref;
  }
 }
};

function ref(){alert('blegh');return false}/*
function ren(e) { //D:
l="menu_items_1";
 if (e instanceof Event) {
  var b=this.parentNode.appendChild($("ins").cloneNode(true)),ret;
  b.id="ren";
//alert(this.parentNode.childNodes.indexOf(this))
//  b.onblur=new Function("ren($('menu_items_"+1+"').childNodes["+this.parentNode.childNodes.indexOf(this)+"])");
//  b.onblur=ren.call(this);
b.onblur=function(e){ren(e.target.value)};
  b.onkeypress=function(e){if (e.which===13) this.blur()};
  b.style.textAlign="right";
  b.value=lists[l].actions.typelabel;
  inputFocus("ren",lists[l].actions.typelabel);
  b.value=this.parentNode.firstChild.innerHTML;
  b.previousSibling.style.display="none";
  b.focus();
 }
 else {/*
  e.innerHTML=(x=e.parentNode).lastChild.value;
  e.style.display="";
  x.removeChild(x.lastChild);*\
  (x=$(l)).firstChild.text=e;
  x.firstChild.style.display="";
  x.removeChild(x.lastChild);
 }
 return false;
}
*/
function toggle_list(it) {
 var li,x,y,z,items;
 if ((li=it.parentNode).style.backgroundColor==="orange") return true;
 items=li.parentNode.getElementsByTagName("li");
 li.style.backgroundColor="orange";
 items[(li===items[0])?1:0].style.backgroundColor="transparent";
 for (var n=li;n;n=n.parentNode) if ((x=subframes.ids.indexOf(n.id))!==-1) break
 y=($((z=subframes.panels[x])[0]).style.display==="none");
 $(z[0]).style.display=y?"":"none";
 $(z[1]).style.display=y?"none":"";
 if (y) $(z[0]).innerHTML=$(z[1]).value;
}
  </script>
  <style type="text/css">
#forms_menu {
 display:none;
 float:right;
 border-right:1px solid black;
 margin-right:20px
}
ul * {
 margin:0px;
 outline:none
}
ul {
 margin:0px
}
#editor_editor_menu {
 float:right
}
.navlist {
 display:table-cell;
 height:100%;
 width:20%;
 vertical-align:top;
 text-align:right;
 padding-right:10px;
 margin-right:0px
}
.navlist>div,.navlist>ul>li {
 padding:0px 5px 0px 5px
}
.navlist>* {
 padding:5px 0px 5px 0px
}
#forms_list {
 max-height:100%;
 overflow:auto
}
#forms_list>li>* {
 display:table;
 height:80%;
 width:60%
}
.page {
 margin-bottom:0px;
}
.bottom {
 padding:5px
}
.bottom>div,#forms_list,#forms_list>li {
 height:100%;
 width:100%
}


form {
 display:table
}
form>div {
 display:table-row
}
.interface,.top,.bottom {
 display:table-cell;
 padding:5px
}
  </style>
<%- end -%>
<% content_for :onload do %>toggle_frames(eddisp.menu[0])<% end -%>
<%= render "home/login" %>
<%= form_for @editor, :url => {:action => @action}, :html => {:class => "page"} do |e|%>
<div><%= render "home/interface" %></div>

   <div>
    <div id="editor_editor_actions" class="top">
     <span class="section_title"
      ><%= link_to "Editor", "/c" %>: <%= link_to @editor.title, media_path, :id => "title", :onmousedown => "if (event.which===1) stringedit(this,true);return false" %><%= e.text_field :title, :class=>"hide", :onkeypress=>"if (event.which===13) stringedit(this,false)", :onblur=>"if (this.style.display!=='none') stringedit(this,false)" %>
     </span>
     <span class="section_info">
      <span onclick="textedit(this,true)">Info</span
      ><div class="dropdown hide">
<%= e.text_area :info, :onkeypress => "if (event.which===13&&!event.shiftKey) {textedit(this.parentNode,false);return false}", :onblur => "if ((p=this.parentNode).style.display!=='none') textedit(p,false)" %></div>
     </span>
     <div id="editor_editor_menu" class="actions">
      <a href="#" onclick="document.forms[1].submit()">Save</a>
      <%= link_to "New", @editor_url %>
      <a href="#" onclick="toggle_frames(this.firstChild.data)">Convert</a>
      <a href="#" onclick="toggle_frames(this.firstChild.data)">Forms</a>
      <a href="#" onclick="toggle_frames(this.firstChild.data)">Render</a>
     </div>
     <div id="forms_menu" class="actions">
      <a href="#" onclick="ins.call($('forms_list'))">Insert</a>
      <a href="#" onclick="del.call($('forms_list'))">Delete</a>
      <a href="#">Move</a>
     </div>
    </div>
   </div>
   <div>
    <div id="editor_editor_canvas" class="bottom"><%= fields_for @editor.data do |d| %>

     <div id="editor_code_frame">
<%= d.text_area :script, :class => "editor_window" %>
     </div>
     <div id="editor_forms_frame">
      <ul id="forms_list" mediatype="form"><%= render :partial => "media/d/form", :collection => @editor.data.forms %></ul>
     </div>

     <div id="editor_result_frame">
      <iframe id="editor_result" class="editor_window"></iframe>
     </div>

    <%- end -%></div>
   </div>
<%- end -%>

  <div id="ins_stamp" class="hide">Insert
   <input class="help_text" type="text" value="Mediatype" size="20" onkeypress="if (event.which==13) ins.call(this.parentNode.parentNode,this.value.charAt(0).toUpperCase()+this.value.slice(1))"/>
  </div><%= render :partial => "media/d/form" %>
