<%-
 n = summary.id.to_s
 t = summary.mtype.downcase
 mt = Media.where("title = ?", summary.mtype)[0]
 e = Media.find(Editors.where("mtype = ?", mt.id)[0].media_id)
-%>
<table id="<%= t + '_' + n %>" mediatype="page">
 <tr>
  <td id="<%= t + '_' + n %>_thumb" class="thumb" rowspan="3"><%= link_to "Thumbnail", summary.url %></td>
  <td id="<%= t + '_' + n %>_title" class="data">
   <%= link_to summary.title, summary.url %>
   <%= link_to summary.author, "userpage.html" %>
   <span><%= summary.count.to_s + " view" + (summary.count==1 ? "" : "s") %></span>
  </td>
 </tr>
 <tr>
  <td id="<%= t + '_' + n %>_desc" colspan="2">
   <span><%= summary.info %></span>
<%- if ["talk","show"].include? params[:action] -%>
   <span>(<%= link_to summary.mtype, mt.url %>)</span>
<%- end -%>
  </td>
 </tr>
 <tr>
  <td class="actions" colspan="2">
<%- if ["index"].include? params[:action] -%>
   <%= link_to "Discussion", talk_media_path(summary) %>
<%- end -%>
   <span class="view">
    <%= link_to "View in " + t + " editor", e.url + "/" + summary.url %>
   </span>
  </td>
 </tr>
</table>
