<%-
 n = summary_counter.to_s
 t = summary.data_type.downcase
 mt = Media.where(:title => t.capitalize, :data_type => "Mediatype")[0]
 e = Editor.where(:mtype => mt.id)[0].media[0]
-%>
<table id="<%= t + '_' + n %>" mediatype="<%= t %>">
 <tr>
  <td id="<%= t + '_' + n %>_thumb" class="thumb" rowspan="3"><%= link_to "Thumbnail", summary.url %></td>
  <td id="<%= t + '_' + n %>_title" class="data">
   <%= link_to summary.title, summary.url %>
   <%= link_to summary.author, "userpage.html" %>
   <span><%= summary.count.to_s + " view" + (summary.count==1 ? "" : "s") %></span>
  </td>
 </tr>
 <tr>
  <td id="<%= t + '_' + n %>_desc" colspan="2">
   <span><%= summary.info %></span>
<%- if true -%>
   <span>(<%= link_to summary.data_type, mt.url %>)</span>
<%- end -%>
  </td>
 </tr>
 <tr>
  <td class="actions" colspan="2">
   <%= link_to "Discussion", talk_media_path(summary.url) %>
   <span class="view">
    <%= link_to "View in " + t + " editor", edit_media_path(summary.url) %>
   </span>
  </td>
 </tr>
</table>
