<%-
 n = summary.id.to_s
 t = summary.media[0].mdata_type.downcase
 mt = Media.where(:title => t.capitalize)[0]
 e = Editor.where(:mtype => mt.id)[0].media[0]
-%>
<table id="<%= t + '_' + n %>" mediatype="page">
 <tr>
  <td id="<%= t + '_' + n %>_thumb" class="thumb" rowspan="3"><%= link_to "Thumbnail", summary.media[0].url %></td>
  <td id="<%= t + '_' + n %>_title" class="data">
   <%= link_to summary.media[0].title, summary.media[0].url %>
   <%= link_to summary.media[0].author, "userpage.html" %>
   <span><%= summary.media[0].count.to_s + " view" + (summary.media[0].count==1 ? "" : "s") %></span>
  </td>
 </tr>
 <tr>
  <td id="<%= t + '_' + n %>_desc" colspan="2">
   <span><%= summary.media[0].info %></span>
<%- if ["talk","show"].include? params[:action] -%>
   <span>(<%= link_to summary.media[0].mdata_type, mt.url %>)</span>
<%- end -%>
  </td>
 </tr>
 <tr>
  <td class="actions" colspan="2">
<%- if ["index"].include? params[:action] -%>
   <%= link_to "Discussion", talk_media_path(summary) %>
<%- end -%>
   <span class="view">
    <%= link_to "View in " + t + " editor", e.url + "/" + summary.media[0].url %>
   </span>
  </td>
 </tr>
</table>
