<%-
 tt = @media.media[0].title.downcase
 @title = "All " + tt.pluralize + " | kotoda.ma"
 media = instance_variable_get("@" + tt.pluralize)
 mt = Media.where("title = ?", @media.media[0].mdata_type)[0]
 e = Media.where(:mdata_id => Editor.where("mtype = ?", mt.id)[0].id)
-%>
<table id="<%= tt %>_page" class="page">
 <tr>

  <td id="<%= tt %>_content" class="left">
   <span class="page_title">'<%= tt.capitalize %>' mediatype summary</span>

   <table id="<%= tt %>_type" mediatype="<%= mt.title.downcase %>">
    <tr>
     <td id="<%= tt %>_type_thumb" class="thumb" rowspan="3"><a href="example.html">Thumbnail</a></td>
     <td id="<%= tt %>_type_title" class="data">
      <%= link_to "New " + tt, root_url %>
      <%= link_to @media.media[0].author, "userpage.html" %>
      <span><%= @media.media[0].count.to_s + " instance" + (@media.media[0].count==1 ? "" : "s") %></span>
     </td>
    </tr>
    <tr>
    <td id="<%= tt %>_desc" colspan="2">
     <span><%= @media.media[0].info %></span>
     <span>(<%= link_to mt.title, mt.url %>)</span>
    </td>
    </tr>
    <tr>
     <td class="actions" colspan="2">
      <a href="discussion.html">Discussion</a>
      <span class="view">
       <%= link_to "View in " + mt.title.downcase + " editor", e[0].url %>
      </span>
     </td>
    </tr>
   </table>
   <div class="canvas" mediatype="<%= tt %>"><%= render :partial => "home/summary", :collection => media %></div>
  </td>

  <td id="ads" class="right">
   <table class="ad">
    <tr>
     <td>
      <div class="ad_image">
       <div class="dummy_ad">
        <a href="ad.html"><img style="width:55px;height:40px" src="media/kotodama_logo_2.png"/></a>
       </div>
      </div>
     </td>
    </tr>
    <tr>
     <td><a href="ad.html">Want ad space?</a></td>
    </tr>
   </table>
  </td>

 </tr>
</table>
