<%-
 tt = @mediatype.title.downcase
 @title = "All " + tt.pluralize
 media = instance_variable_get("@" + tt.pluralize)
 mt = Media.where("title = ?", @mediatype.data_type)[0]
 e = Editor.where(:mtype => mt.id)[0].media

 content_for :head do
-%><script type="text/javascript">
var editor={
 mediatype:{Editmediatype:"/b"},
 <%= tt %>:{<%= Editor.where(:mtype => @mediatype.id).map do |ee|
 ee.media[0].title + ":\"/" + ee.media[0].url + "\""
end[0].html_safe %>}
};
</script><%-
 end

 content_for :onload do
  -%> var i,views=document.getElementsByClassName("view");
 for (i=0;i<views.length;i++) views[i].onmousedown=viewlinks;<%-
 end -%>
<table id="<%= tt %>_page" class="page">
 <tr>

  <td id="<%= tt %>_content" class="left">
   <span class="page_title">'<%= tt.capitalize %>' mediatype summary</span>

   <table id="<%= tt %>_type" mediatype="<%= mt.title.downcase %>">
    <tr>
     <td id="<%= tt %>_type_thumb" class="thumb" rowspan="3"><a href="example.html">Thumbnail</a></td>
     <td id="<%= tt %>_type_title" class="data">
      <%= link_to "New " + tt, root_url %>
      <%= link_to @mediatype.author, "userpage.html" %>
      <span><%= @mediatype.count.to_s + " instance" + (@mediatype.count==1 ? "" : "s") %></span>
     </td>
    </tr>
    <tr>
    <td id="<%= tt %>_desc" colspan="2">
     <span><%= @mediatype.info %></span>
     <span>(<%= link_to mt.title, mt.url %>)</span>
    </td>
    </tr>
    <tr>
     <td class="actions" colspan="2">
      <a href="discussion.html">Discussion</a>
      <span class="view">
       <%= link_to "View in " + mt.title.downcase + " editor", e[0].url %>
      </span>
     </td>
    </tr>
   </table>
   <div class="canvas" mediatype="<%= tt %>"><%= render :partial => "home/summary", :collection => media %></div>
  </td>

  <td id="ads" class="right">
   <table class="ad">
    <tr>
     <td>
      <div class="ad_image">
       <div class="dummy_ad">
        <a href="ad.html"><img style="width:55px;height:40px" src="media/kotodama_logo_2.png"/></a>
       </div>
      </div>
     </td>
    </tr>
    <tr>
     <td><a href="ad.html">Want ad space?</a></td>
    </tr>
   </table>
  </td>

 </tr>
</table>
