<% Media.create(:title => "editpage", :mtype => "Editor", :info => "Page editor.") %>
<% Editors.create(:media_id => 4, :mtype => 3) %>
<!------------------------------------------------------------------------------->
<!--IMPORTANT! REMOVE THIS LINE AND ABOVE AFTER INITIALLY SAVING PAGE MEDIATYPE-->
<table id="show" class="page">
 <tr>

  <td id="show_pages" class="left">
   <span class="page_title">'Page' mediatype summary</span>
   <table id="page_type" mediatype="mediatype">
    <tr>
     <td id="page_type_thumb" class="thumb" rowspan="3"><a href="example.html">Thumbnail</a></td>
     <td id="page_type_title" class="data">
      <%= link_to "Pages", "c" %>
      <a href="userpage.html">kotoda.ma</a>
      <span><%= @pages.count %> instances</span>
     </td>
    </tr>
    <tr>
    <td id="page_desc" colspan="2">
     <span>Description</span>
     <span>(<%= link_to "Mediatype", "a" %>)</span>
    </td>
    </tr>
    <tr>
     <td class="actions" colspan="2">
      <a href="discussion.html">Discussion</a>
      <span class="view">
       <%= link_to "View in mediatype editor", "b" %>
      </span>
     </td>
    </tr>
   </table>

   <div class="canvas" mediatype="page"><%= render :partial => "media/c/page", :collection => @pages, :as => :page %></div>

  </td>

  <td id="ads" class="right">
   <table class="ad">
    <tr>
     <td>
      <div class="ad_image">
       <div class="dummy_ad">
        <a href="ad.html"><img style="width:55px;height:40px" src="media/kotodama_logo_2.png"/></a>
       </div>
      </div>
     </td>
    </tr>
    <tr>
     <td><a href="ad.html">Want ad space?</a></td>
    </tr>
   </table>
  </td>

 </tr>
</table>
