<% argument[:pair]||={} %>
<div id="<%= (argument[:pair]=={})?"argument_stamp":("arg_"+(argument[:n]+1).to_s()) %>" class="summary"><%- if argument[:n]>0 -%><div class="arrow">&#x2193;</div><%- end -%>
 <div class="data">
  <span>Instance of <span class="type_name"><%= argument[:pair].values[0] %></span> type, as <%= link_to argument[:pair].keys[0], "#", :id => "title", :onmousedown => "if (event.which===1) stringedit(this,true);return false" %><input class="hide" value="<%= argument[:pair].keys[0] %>" onkeypress="if (event.which===13) {stringedit(this,false);this.nextSibling.name='media[signature][]['+this.previousSibling.firstChild.data+']'}" onblur="if (this.style.display!=='none') {stringedit(this,false);this.nextSibling.name='media[signature][]['+this.previousSibling.firstChild.data+']'}"/><input<%= (argument[:pair]=={})?"":(" name='media[signature][]["+argument[:pair].keys[0]+"]' value='"+argument[:pair].values[0]+"'") %> type="hidden" /></span>
 </div>
 <span style="float:left"><a href="example.html"><div class="thumb">Thumbnail</div></a></span>
 <span>Description</span>
 <div class="actions">
  <a href="discussion.html">Discussion</a>
  <span class="view">
   <a href="editmediatype.html">View in mediatype editor</a>
  </span>
 </div>
</div>
