<%-
 argument||={}
 argument_counter||=0
 n=(argument_counter+1).to_s
 unless argument=={}
  -%><li><%-
 end
-%><div id="<%= (argument=={})?"argument_stamp":("arg_"+n) %>" class="summary"><%- if argument_counter>0 -%><div class="arrow">&#x2193;</div><%- end -%>
 <div class="data">
  <span>Instance of <span class="type_name"><%= argument.values[0] %></span> type, as <%= link_to argument.keys[0], "#", :id => "title", :onmousedown => "if (event.which===1) stringedit(this,true);return false" %><input class="hide" value="<%= argument.keys[0] %>" onkeypress="if (event.which===13) {stringedit(this,false);this.nextSibling.name='mediatype[arguments][]['+this.previousSibling.firstChild.data+']'}" onblur="if (this.style.display!=='none') {stringedit(this,false);this.nextSibling.name='mediatype[arguments][]['+this.previousSibling.firstChild.data+']'}"/><input<%= (argument=={})?"":(" name='mediatype[arguments][]["+argument.keys[0]+"]' value='"+argument.values[0]+"'") %> type="hidden" /></span>
 </div>
 <span style="float:left"><a href="example.html"><div class="thumb">Thumbnail</div></a></span>
 <span>Description</span>
 <div class="actions">
  <a href="discussion.html">Discussion</a>
  <span class="view">
   <a href="editmediatype.html">View in mediatype editor</a>
  </span>
 </div>
</div><%-
 unless argument=={}
  -%></li><%-
 end
-%>
