<%-
 mt = @_media.data_type.downcase
 @title = "Edit " + ((@_media.url!="")?mt + " '" + @_media.title + "'":"new " + mt)
 @_editor.forms << {"Render"=>"<iframe id=\"render\" class=\"editor_window\"></iframe>"}
-%>
<% content_for :head do %>
<script type="text/javascript">
function toggle_frames(it) {
 for (i in eddisp.frames) if ($(eddisp.frames[i]).style.display!=="none") break;
 if (eddisp.menu[i]==it) return false;
 $(eddisp.frames[i]).style.display="none";
 $(eddisp.frames[j=eddisp.menu.indexOf(it)]).style.display=eddisp.display[j];
 if (eddisp.finalfunc) eddisp.finalfunc(it);
 return eddisp.frames[i];
}
var eddisp={
 frames:<%= @_editor.forms.map {|x| x.keys[0].downcase + "_frame" }.to_s.html_safe %>,
 display:<%= @_editor.forms.map {|x| "block" }.to_s.html_safe %>,
 menu:<%= @_editor.forms.map {|x| x.keys[0] }.to_s.html_safe %>
}
</script>
<%= @_editor.script.html_safe %>
<style type="text/css">
#menu_bar {
 float:right
}
#canvas>* {
 height:100%
}
.page {
 margin-bottom:0px
}
.bottom {
 padding:5px;
}
.dropdown {
 display:none
}
form {
 display:table
}
form>div {
 display:table-row
}
.interface,.top,.bottom {
 display:table-cell;
 padding:5px
}
</style><%-
 end

 content_for :onload do
-%> document.documentElement.className="noscroll";
 for (var j in eddisp.frames) $(eddisp.frames[j]).style.display="none";
 $(eddisp.frames[j]).style.display=eddisp.display[j];
 eddisp.finalfunc(eddisp.menu[j])<%-
 end
-%>
<%= render "home/login" %>
<%= form_for @_media, :url => {:action => @action}, :html => {:class => "page"} do |p|%>
<div><%= render "home/interface" %></div>
 <div>
  <div id="editor_actions" class="top">
   <span class="section_title"
    ><%= link_to mt.capitalize, root_url + @_mediatype.url %>: <%= link_to @_media.title, root_url + @_media.url, :id => "title", :onmousedown => "if (event.which===1) stringedit(this,true);return false" %><%= p.text_field :title, :class=>"hide", :onkeypress=>"if (event.which===13) stringedit(this,false)", :onblur=>"if (this.style.display!=='none') stringedit(this,false)" %>
   </span>
   <span class="section_info">
    <span onclick="textedit(this,true)">Info</span
    ><div class="dropdown">
<%= p.text_area :info, :onkeypress => "if (event.which===13&&!event.shiftKey) {textedit(this.parentNode,false);return false}", :onblur => "if ((p=this.parentNode).style.display!=='none') textedit(p,false)" %></div>
   </span>
   <div id="menu_bar" class="actions">
    <a href="#" onclick="document.forms[1].submit()">Save</a>
    <%= link_to "New", root_url + @_editor.media[0].url %>
    <%- @_editor.forms.each do |f| -%><a href="#" onclick="toggle_frames(this.firstChild.data)"><%= f.keys[0] %></a><%- end -%>
   </div>
<%- @_editor.forms.take_while {|x| true }.each do |f| -%>
   <div id="<%= f.keys[0] _operations" class="actions">
    <a href="#" onclick="ins.call($('signature_container'))">Insert</a>
    <a href="#" onclick="del.call($('signature_container'))">Delete</a>
    <a href="#">Move</a>
   </div>
<%- end -%>
  </div>
 </div>
 <div>
  <div id="canvas" class="bottom"><%= fields_for @_media.data do |data| %>
   <%= render :partial => "home/frame", :collection => @_editor.forms, :locals => {:data => data} %>
  <%- end -%></div>
 </div>
<%- end -%>
