<%- mediatype = (@_media ? (@_editor ? "editor" : @_media.mediatype.title.downcase) : "home") -%>
<!DOCTYPE html>
<html lang="en-AU" mediatype="<%= mediatype %>">
<head>
<title><%= @title %> | kotoda.ma</title>
<%= stylesheet_link_tag :common, :media => "all" %>
<%= javascript_include_tag :common %>
<%= favicon_link_tag %>
<%= csrf_meta_tags %>
<%= yield :head %>
<script type="text/javascript">
function init() {
 render_login();
 nofollow();
<%= yield :onload %>
}
</script>
</head>
<body onload="init()">
<%- unless mediatype=="editor" -%>
<%= render "home/login" %>
<%= render "home/interface" %>
<%- end -%>
<%= yield %>
</body>
</html>
